{% extends "base_generic.html" %}

{% block content %}
<h1>Процессор AMD Ryzen 7 3800X</h1>
{% load static %}

<div class="container">
    <div class="row">
      <div class="col">
            <img src="{% static 'images/ryzen-7-3800x.jpg' %}" width="600" height="600"class="rounded" alt="...">
      </div>
      <div class="col">
        <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">32 399 ₽</h2>
              <h4 class="card-text">Описание</h4>
              <p class="card-text"><small class="text-muted">Процессор AMD Ryzen 7 3800X BOX – вычислительное устройство экстра-класса, которое рассчитано на комплектацию производительных игровых компьютеров и мощных рабочих станций. Модель произведена с использованием 7-нанометрового техпроцесса. Процессор имеет 8 ядер. Базовая частота устройства очень высока – 3900 МГц. Максимальная частота в турборежиме составляет 4600 МГц. Процессор располагает свободным множителем. Графическое ядро отсутствует. Одним из преимуществ процессора является внушительный (32 МБ) объем кеша 3-го уровня.
                Процессор AMD Ryzen 7 3800X BOX обладает совместимостью с памятью DDR4, которая может функционировать в широком диапазоне частот – от 1600 до 3200 МГц. Максимально допустимый объем памяти (128 ГБ) подходит для решения задач любого уровня сложности.
                BOX-комплектация процессора означает, что в комплект входит кулер, тщательно подобранный производителем. Устройство теплоотвода гарантированно справится с рассеиванием необходимого объема тепла. Процессор характеризуется показателем TDP, составляющим 105 Вт. Максимальная температура устройства – 95 °C.</small></p>
            </div>
          </div>
      </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col"><h2>Характеристики</h2></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        <tr class="table-dark">
        <th colspan="2">Заводские данные</th>
      </tr>
      <tr>
        <td scope="row">Гарантия</td>
        <td>36 мес.</td>
      </tr>
      <tr>
        <td scope="row">Страна-производитель</td>
        <td>Малайзия</td>
      </tr>

      <tr class="table-dark">
        <th colspan="2">Общие параметры</th>
      </tr>
      <tr>
        <td scope="row">Модель</td>
        <td>AMD Ryzen 7 3800X</td>
      </tr>
      <tr>
        <td scope="row">Поколение процессоров</td>
        <td>AMD RYZEN 3000</td>
      </tr>
      <tr>
        <td scope="row">Год релиза</td>
        <td>2019</td>
      </tr>
      <tr>
        <td scope="row">Сокет</td>
        <td>AM4</td>
      </tr>

      <tr class="table-dark">
        <th colspan="2">Ядро и архитектура</th>
      </tr>
      <tr>
        <td scope="row">Техпроцесс</td>
        <td>7 нм</td>
      </tr>
      <tr>
        <td scope="row">Количество ядер</td>
        <td>8</td>
      </tr>
      <tr>
        <td scope="row">Максимальное число потоков</td>
        <td>16 шт</td>
      </tr>
      <tr>
        <td scope="row">Кэш L1</td>
        <td>512 КБ</td>
      </tr>
      <tr>
        <td scope="row">Кэш L2</td>
        <td>4 МБ</td>
      </tr>
      <tr>
        <td scope="row">Кэш L3</td>
        <td>32 Мб</td>
      </tr>
      <tr>

      <tr class="table-dark">
        <th colspan="2">Частота</th>
      </tr>
      <tr>
        <td scope="row">Базовая частота процессора</td>
        <td>3900 МГц</td>
      </tr>
      <tr>
        <td scope="row">Максимальная частота в турбо режиме</td>
        <td>4500 МГц</td>
      </tr>    
    </tbody>
  </table>

{% endblock %}