{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<h1>Лабораторная работa №8</h1>
<p></p>
<h2>Создание прототипа веб-приложения с использованием фреймворка Django.</h2>
<p></p>
  <strong>Цель лабораторной работы:</strong> изучение возможностей создания прототипа веб-приложения с использованием фреймворка Django.
  <p></p>
  <h4>Задание:</h4>
  <ol>
    <li>Создайте прототип веб-приложения с использованием фреймворка Django:
    <ul>
    <li>Создайте виртуальное окружение.</li>
    <li>Установите в него Django.</li>
    <li>Создайте проект и приложение Django.</li>
    </ul>
    </li>
    <li>Создайте представления и шаблоны (по желанию можно использовать модели), реализующие концепцию master/detail со следующей функциональностью:
    <ul>
    <li>На странице master в виде списка HTML выводится информация о трех объектах (например, о трех сортах мороженого). Каждая строка списка представляет собой гиперссылку, при нажатии на которую происходит переход к странице detail.</li>
    <li>Страница detail содержит детальное описание объекта (сорта мороженого), фотографию, гиперссылку на master-страницу.</li>
    <li>Фотография относится к статическому содержимому сайта.</li>
    <li>Страница detail должна выводить данные с использованием таблицы HTML.</li>
    <li>Шаблон страницы detail получает от представления данные о детальном объекте с использованием контекста.</li>
    <li>
    <strong>НЕОБЯЗАТЕЛЬНЫЙ ПУНКТ.</strong> По желанию можно использовать верстку с применением Bootstrap (или аналогичного фреймворка), а также представления на основе классов (class-based views).</li>
    </ul>
    </li>
    </ol>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="mb-1">Автор работы: Гришин Илья ИУ5-52Б</p>
        <p class="mb-0"><a href="https://github.com/Exepez/RIP-Labs">GitHub</a></p>
      </div>
    </footer>

{% endblock %}