{% extends "base_generic.html" %}

{% block content %}
<p></p>
          <div class="col">
            <div class="card">
              <svg class="bd-placeholder-img card-img-top" width="10%" height="1" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
                <img src="{{ MEDIA_URL }}{{ manufacturer.manufacturer_img_url }}">
            </svg>

              <div class="card-body">
                <h5 class="card-title">{{ manufacturer.namecompany }}</h5>
                <p class="card-text">{{ manufacturer.description }}</p>
                <a href="{{ manufacturer.urlman }}" class="btn btn-primary">Перейти на сайт компании</a>
              </div>
            </div>
          </div><p></p>
    

    <h4>Товары производителя:</h4>
    {% for copy in manufacturer.motherboard_set.all %}
    <p></p>
    <div class="col">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <svg class="bd-placeholder-img" width="25%" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false">
              <img src="{{ MEDIA_URL }}{{ copy.motherboard_img_url }}" width="200" height="250"class="rounded">
            </svg>
  
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><a href="{% url 'motherboard-detail' copy.pk %}">{{ copy.title }}</a></h5>
              <h5 class="card-text"><class="text-muted">{{copy.price}}</class></h5>
              <p class="card-text"><small class="text-muted">{{copy.socket}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} 
    

{% endblock %}